<div id="modal">
<div id="close_card"></div>
<div id="card">

  <!-- LAYOUT SUCCESS-->
  <!--div id="mode_success">
    <div id="card_title">
      <span id="title_light">SUCCESS!</span>
    </div>
    <div class="card_msg_tx">
      Lorem ipsum dolor. Sit amet praesent. In pede morbi pharetra tellus maecenas. Eu gravida nibh at wisi vehicula lectus felis luctus libero bibendum dapibus. Sapien auctor sociosqu. Phasellus lectus lacinia justo eu ligula. Erat fermentum augue. Quam mauris ipsum. Tellus tincidunt velit cras sociosqu velit velit nisi sem. Imperdiet quis eum wisi arcu at laoreet fermentum ante eu mauris arcu. Donec wisi pretium porta molestie ullamcorper fusce iaculis ipsum.</div>
    <div class="button">OK</div>
  </div-->

  <!-- LAYOUT INFO CARD -->
  <div id="info_card">

    <div id="card_title">
      <!--span id="title_light" class="placeType">CITIY OF</span-->
      <span id="title_bold" class="placeName">{{place}}</span>
    </div>

    <div class="card_msg">
      <div id="card_msg1" class="card_msg_title">
        Congratulations!
      </div>
      <div id="card_msg1_tx" class="card_msg_tx">
        With a WASH resilience score of <span class="contrast" id="wash_score">89</span>% 
        you <span class="contrast" id="card_msg2">are well prepared</span> 
        to face Water, Sanitation and Hygiene risks in future natural disasters.
      </div>
    </div>

    <!--hr/>

    <div class="ranking" id="country_ranking">
      <div class="ranking_type">COUNTRY RANKING</div>
      <ul>
        <li class="selected">1. Name of City 1</li>
        <li >2. Name of City 2</li>
        <li >3. Name of City Nonono 3</li>
        <li >4. Name of City Nonon onon ono 4</li>
        <li >5. Name of City 5</li>
      </ul>
      <div class="ranking_result">
        You are ranked <span class="bold" id="country_ranking_result">1st</span> among the cities of the country
      </div>
    </div>

    <div class="ranking" id="local_ranking">
      <div class="ranking_type">LOCAL RANKING</div>
      <ul>
        <li>1. Name of City 1</li>
        <li  class="selected" >2. Name of City 2</li>
        <li >3. Name of City Nonono 3</li>
        <li >4. Name of City Nonon onon ono 4</li>
        <li >5. Name of City 5</li>
      </ul>
      <div class="ranking_result">
        You are ranked <span class="bold" id="loaal_ranking_result">2nd</span> among the cities of the country
      </div>
    </div>

    <div class="clear"></div-->

    <hr/>

    <div  class="card_msg">
      <div class="card_msg_title">But you <span id="card_msg3">can still improve</span>!</div>
      <div class="card_msg_tx">Review your key indicators below</div>
    </div>

    <div id="indicators">
      <div class="indicator">
        <div class="indicator_label" >Severe Acute Malnutrition (Under 5 Rate) </div>
        <div id="SAM" class="indicator_score"@
          <span class="value">100</span>%
          <span class="label">GOOD</span>
        </div>
      </div>
      <div class="indicator">
        <div class="indicator_label" >Global Acute Malnutrition (Under 5 Rate) </div>
        <div id="GAN" class="indicator_score">
          <span class="value">100</span>%
          <span class="label">GOOD</span>
        </div>
      </div>
      <div class="indicator">
        <div class="indicator_label" >Acute Diarrhoeal Disease (Prevalence) </div>
        <div id="ADD" class="indicator_score">
          <span class="value">100</span>%
          <span class="label">GOOD</span>
        </div>
      </div>
      <div class="indicator">
        <div class="indicator_label" >Households without access to toilet </div>
        <div id="HWAT" class="indicator_score">
          <span class="value">100</span>%
          <span class="label">GOOD</span>
        </div>
      </div>
      <div class="indicator">
        <div class="indicator_label" >Households without access to water </div>
        <div id="HWAW" class="indicator_score">
          <span class="value">100</span>%
          <span class="label">GOOD</span>
        </div>
      </div>
      <div class="indicator">
        <div class="indicator_label" >water sources positive with e.coli and other contaminants </div>
        <div id="WSC" class="indicator_score">
          <span class="value">100</span>%
          <span class="label">GOOD</span>
        </div>
      </div>
      <div class="indicator">
        <div class="indicator_label" >Exposure to natural disasters </div>
        <div id="EXND" class="indicator_score">
          <span class="value">100</span>%
          <span class="label">GOOD</span>
        </div>
      </div>
    </div>

    <hr>

    <div id="warn_messages" class="card_msg">
      <div class="card_msg_title">Warning</div>
      <div class="card_msg_tx">
        The number of 
        <span class="contrast" id="wash_score">households with access to sanitation</span>
        has decreased since the last update of the data!
      </div>
    </div>

    <div id="chart">
      <div id="chart1"></div>
      <div id="chart2"></div>
    </div>
    <hr/>

    <div id="positive_messages" class="card_msg">
      <div class="card_msg_title">Positive Note</div>
      <div class="card_msg_tx">
        The number of 
        <span class="contrast" id="wash_score">households with access to sanitation</span>
        has decreased since the last update of the data!
      </div>
    </div>

    <div id="chart">
      <div id="chart1"></div>
      <div id="chart2"></div>
    </div>

    <div id="last_update">
      The data behind this information Card was last updated on the <span class="date"></span> by
      <div class="contrast" id="last_update_user">
        <span class='name'>[Name]</span>, 
        <span class='role'>[Role]</span> in 
        <span class='org'>[Org]</span>.
      </div>
    </div>

    <hr/>

    <div id="issues">
      <div class="issue" id="issue_left">
        Is the data outdated?
        <a class="button mt10">UPDATE THE DATA</a>
      </div>
      <div class="issue" id="issue_right">
        Is there a problem with the data or the person who submitted it?
        <a class="button mt10" href="/about/#contactForm">FLAG AN ISSUE</a>
      </div>
    </div>

    <div class="clear"></div>

    <a href="print.html" target="_blank">
      <a class="button">PRINT CARD</a>
    </a>


    <div id="card_share">
      <div class="share_title">SHARE THIS CARD!</div>
      <a href="http://twitter.com/share?url={{ current_url }}&text={{ share_page_template }}" title="{{ gettext('Share on Twitter') }}" class="share_bt" id="share_tw"></a>
      <a href="http://www.facebook.com/sharer/sharer.php?u={{ current_url }}" title="{{ gettext('Share on Facebook') }}" class="share_bt" id="share_fb"></a>
      <a href="https://plus.google.com/share?url={{ current_url }}" title="{{ gettext('Share on Google+') }}" class="share_bt" id="share_gp"></a>
    </div>
  </div>

</div>

</div>

<div id="curtain"></div>
