{% extends "base.html" %}

{% block title %}{{gettext("Overview")}}{% endblock %}
{% block headcss %}<link href="/css/sexytables-1.0.css" rel="stylesheet">{% endblock %}
{% block bodyclass %}faq {% if extraWidth %}extrawidth{% endif %}{% endblock %}

{% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-xs-12">{{ title }}</div>
  </div>
</div>
<div class="container">
  {{faqs}}
  {{datasets}}
  {% for faq in faqs %}
    <p>{{faq}} | {{faq.answer}}</p>
  {% endfor %}
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="{{page.root}}/vendor/jquery.kinetic.min.js"></script>
<script src="{{page.root}}/vendor/sexytables-1.0.min.js"></script>
<script src="{{page.root}}/src/common.js?{{currentTime}}"></script>
<script src="{{page.root}}/src/census.js?{{currentTime}}"></script>
{% endblock %}

