{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block headcss %}{% endblock %}
{% block bodyclass %}faq {% endblock %}

{% block content %}

  <div>{{ desc }}</div>

  {% if faqs %}
    <ul id="faq" >
      {% for faq in faqs %}
      <li class="faq_item">
        <div class="faq_border"></div>
        <div class="qst">{{ faq.question | capitalize | striptags }}</div>
        <div class="asw">{{ faq.answer | capitalize | striptags }}</div>
        <div class="dtvz">{{faq.dataviz}}</div>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    {{ gettext('No FAQs') }}
  {% endif %}

   <div class="clear"></div>
{% endblock %}

{% block extra_content %}

  {% include '_snippets/faq-modal.html' %}

{% endblock %}

{% block end_js %}
  <script src="/src/faq-modal.js?{{currentTime}}"></script>
{% endblock %}
