
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block headcss %}{% endblock %}
{% block bodyclass %}faq {% endblock %}

{% block content %}

<div class="page-header">
  <h1>{{ title }}</h1>
</div>
<div class="container">
  {% if faqs %}

    {% for faq in faqs %}
    <h2><strong>Q:</strong> {{ faq.question | striptags }}</h2>
    <h3><strong>A:</strong> {{ faq.answer | striptags }}</h3>
    {% if faq.dataviz %}
      {{faq.dataviz}}
    {% endif %}
    {% endfor %}


  {% else %}
  {{ gettext('No FAQs') }}
  {% endif %}

</div>

<script src="{{page.root}}/src/common.js?{{currentTime}}"></script>
<script src="{{page.root}}/src/census.js?{{currentTime}}"></script>


{% endblock %}
