<footer>
<div id="footer_container" class="container">
  <div id="project">
    A PROJECT BY:
    <div><a id="sd_logo_footer" href="http://schoolofdata.org/" title="An School of Data Project" target="_blank">
        <img src="/img/sd_logo.png" alt="School of Data logo"></a></div>
  </div>

  <div id="support">
    SUPPORT:
    <div>
      <a id="okn_logo" href="http://okfn.org/" title="Open Knowledge" target="_blank">
        <img  src="/img/okfn_logo.png" alt="Open Da logo"></a>
      <a id="od4d_logo" href="http://od4d.net/" title="Open Data" target="_blank">
        <img  src="/img/od4d_logo.png" alt="Open Data logo"></a>
    </div>
  </div>

  <div id="footer_links">
    <a href="http://opendatacommons.org/licenses/pddl/1.0">Data License (Public Domain)</a> |
    <a href="https://github.com/okfn/opendatacensus/">Source code</a>
  </div>

  {% include '_snippets/card-modal.html' %}


</div>
</footer>
