<header id="header">
<div id="banner">
  <div id="sd_logo"></div>
  <img id="philippines" src="/img/philippines.png" />
  <img id="typhoon" src="/img/typhoon.gif" />
  <div id="title">
    <h1 id="title1">{{ site.settings.title }}</h1>
    <h2 id="title2">{{ site.settings.subtitle }}</h2>
    <div id="search">
      <div id="search_qt">is your city or province prepared?</div>

      <form id="form-new-wash-data">
        <div class="form-group">
          <div id="place-select-group">
            <div id="search_bt"></div>
            <input id="place-select" type="search" class="form-control" placeholder="type the city or province name" onkeypress="displayOnEnter(event);"/>
            <script>
              var places = [
                {% for place in places %}
                  "{{place.type}} of {{place.name}}"{%if not loop.last %},{% endif %}
                {% endfor %}
              ];
              var placesId = {
                {% for place in places %}
                "{{place.type}} of {{place.name}}" : {{place.id}}{%if not loop.last %},{% endif %}
                {% endfor %}
              }
            </script>
          </div>
        </div>
      </form>
    </div>
  </div>
  <nav>
    <div id="menu">
      <a class="menu_bt {% if url_home %} selected {% endif %}" id="menu_bt3" href="/">{{ gettext("Home") | upper}}</a>
      <a class="menu_bt {% if url_faq %} selected {% endif %}" id="menu_bt4" href="/faq/">{{ gettext("Understand") | upper}}</a>
      <a class="menu_bt {% if url_index %} selected {% endif %}" id="menu_bt2" href="/index/">{{ gettext("Index") | upper}}</a>
      <a class="menu_bt {% if url_about %} selected {% endif %}" id="menu_bt1" href="/about/">{{ gettext("About") | upper}}</a>
    </div>
  </nav>
</div>
</header>
