{% extends "base.html" %}

{% block title %}
{{ gettext("Submit WASH Data") }}
{% endblock %}

{% block headcss %}
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block bodyclass %}wash-submit{% endblock %}

{% block content %}

<div class="page-header">
  <h1>{{format("Make a Submission &ndash; %(sitename)s %(sitesubtitle)s", { sitename: site.settings.title, sitesubtitle: site.settings.subtitle }) }}</h1>
</div>

{% if errors %}
<div class="flash alert alert-error">
    <p>
        {{ gettext("The form has missing or incorrect data")}}:
    </p>
    {% for error in errors %}
    <ul>
        <li>{{ error.param }}: {{ error.msg }} {% if error.value %}(Current is '{{ error.value }}'){% endif %}</li>
    </ul>
    {% endfor %}
</div>
{% endif %}

{% if submitInstructions %}
<div class="alert alert-warning">
  {{ submitInstructions }}
</div>
{% endif %}
{% if submittedMessage %}
<div class="alert alert-thanks">
  Thanks for submitting data!
</div>
{% endif %}

<form id="submitWash" action="" method="POST" class="form submission-create" autocomplete="on">

  <!--
      Name of the city province - text

      Severe Acute Malnutrition (Under 5 Rate) -> 0-100
      Global Acute Malnutrition (Under 5 Rate) -> 0-100
      Acute Diarrhoeal Disease (Prevalence) - 0-100
      Households without access to toilet - (int >= 0)
      Households without access to water - (int >= 0)
      % of water sources positive with e.coli and other contaminants -> 0-100
      Exposure to natural disasters -> 0-100

      Last update of this indicator -> date
      Your name - text
      Your organisation - text
      Your role	- text
      Your email - email

  -->

  <fieldset>

    <div class="form-group">
      <label for="place" class="col-sm-8 control-label">{{gettext("Name of the city province")}}</label>
      <div class="col-sm-4">
        <div class="input-group">
          <select name="place" required autocomplete="off">
            <option disabled>{{gettext("Please select")}}</option>
            {% for region, regionPlaces in places|groupby('region') %}
              <optgroup label="{{ region }}">
                {% for place in regionPlaces %}
                  <option value="{{place.id}}" {% if (formData and place.id == formData.place) or (current and place.id == current.place) %}selected="true"{% endif %}>
                    {{place.type}} of {{place.name}}
                  </option>
                {% endfor %}
              </optgroup>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

  <div class="row">
    <label class="col-sm-4 col-sm-offset-8 conntrol-label">Last update of the indicator</label>
  </div>

  <div class="form-group">
    <label for="SAM" class="col-sm-5 control-label">Severe Acute Malnutrition (Under 5 Rate)</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input name="SAM" type="number" class="form-control decimal" aria-label="Severe Acute Malnutrition (Under 5 Rate)" min="0" max="100"
               value="{% if (formData and formData.SAM) %}{{ formData.SAM }}{% endif %}">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="lastUpdateSAM" placeholder="Last update of this indicator"
             value="{% if (formData and formData.lastUpdateSAM) %}{{ formData.lastUpdateSAM }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="GAM" class="col-sm-5 control-label">Global Acute Malnutrition (Under 5 Rate)</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input name="GAM" type="number" class="form-control decimal" aria-label="Global Acute Malnutrition (Under 5 Rate)" min="0" max="100"
               value="{% if (formData and formData.GAM) %}{{ formData.GAM }}{% endif %}">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="lastUpdateGAM" placeholder="Last update of this indicator"
             value="{% if (formData and formData.lastUpdateGAM) %}{{ formData.lastUpdateGAM }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="ADD" class="col-sm-5 control-label">Acute Diarrhoeal Disease (Prevalence)</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input name="ADD" type="number" class="form-control decimal" aria-label="Acute Diarrhoeal Disease (Prevalence)" min="0" max="100"
               value="{% if (formData and formData.ADD) %}{{ formData.ADD }}{% endif %}">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="lastUpdateADD" placeholder="Last update of this indicator"
             value="{% if (formData and formData.lastUpdateADD) %}{{ formData.lastUpdateADD }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="HWAT" class="col-sm-5 control-label">Households without access to toilet</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input name="HWAT" type="number" class="form-control decimal" aria-label="Households without access to toilet" min="0" max="100"
               value="{% if (formData and formData.HWAT) %}{{ formData.HWAT }}{% endif %}">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="lastUpdateHWAT" placeholder="Last update of this indicator"
             value="{% if (formData and formData.lastUpdateHWAT) %}{{ formData.lastUpdateHWAT }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="HWAW" class="col-sm-5 control-label">Households without access to water</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input name="HWAW" type="number" class="form-control decimal" aria-label="Households without access to water" min="0" max="100"
               value="{% if (formData and formData.HWAW) %}{{ formData.HWAW }}{% endif %}">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="lastUpdateHWAW" placeholder="Last update of this indicator"
             value="{% if (formData and formData.lastUpdateHWAW) %}{{ formData.lastUpdateHWAW }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="WSC" class="col-sm-5 control-label">% of water sources positive with e.coli and other contaminants</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input name="WSC" type="number" class="form-control decimal" aria-label="% of water sources positive with e.coli and other contaminants" min="0" max="100"
               value="{% if (formData and formData.WSC) %}{{ formData.WSC }}{% endif %}">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="lastUpdateWSC" placeholder="Last update of this indicator"
             value="{% if (formData and formData.lastUpdateWSC) %}{{ formData.lastUpdateWSC }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="EXND" class="col-sm-5 control-label">Exposure to natural disasters</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input name="EXND" type="number" class="form-control decimal" aria-label="Exposure to natural disasters" min="0", max="100"
               value="{% if (formData and formData.EXND) %}{{ formData.EXND }}{% endif %}">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="lastUpdateEXND" placeholder="Last update of this indicator"
             value="{% if (formData and formData.lastUpdateEXND) %}{{ formData.lastUpdateEXND }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputName" class="col-sm-5 control-label">Your Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="inputName" placeholder="Your Name"
             value="{% if (formData and formData.inputName) %}{{ formData.inputName }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputOrganization" class="col-sm-5 control-label">Your Organization</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="inputOrganization" placeholder="Your Organization"
             value="{% if (formData and formData.inputOrganization) %}{{ formData.inputOrganization }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputRole" class="col-sm-5 control-label">Your role</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="inputRole" placeholder="Your Role"
             value="{% if (formData and formData.inputRole) %}{{ formData.inputRole }}{% endif %}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail" class="col-sm-5 control-label">Your E-mail</label>
    <div class="col-sm-7">
      <input type="email" class="form-control" name="inputEmail" placeholder="Email"
             value="{% if (formData and formData.inputEmail) %}{{ formData.inputEmail }}{% endif %}">
    </div>
  </div>

  </fieldset>

  <div class="controls" style="margin-top: 30px;">
    <button type="submit" onClick="javascript:$('#submitWash').submit()" class="btn btn-lg btn-success" data-loading-text="Saving ..." style="float: left; margin-right: 30px;">{{gettext("Submit")}}</button>
    <p class="help-block">{{gettext("By submitting material to the index you agreeing to <a href=\"http://okfn.org/terms-of-use/\">terms of use</a> and also to license your contribution (to the extent there are any rights in it!) under the <a href=\"http://opendatacommons.org/licenses/pddl/1.0/\">Open Data Commons Public Domain Dedication and License</a>.")}}</p>
  </div>

</form>

{% endblock %}

{% block end_js %}
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/src/common.js?{{currentTime}}"></script>
  <script src="/src/wash.js?{{currentTime}}"></script>
  <script src="/src/wash_submit.js?{{currentTime}}"></script>
{% endblock %}
