{% extends "base.html" %}

{% block title %}
{{ gettext("Submit WASH Data") }}
{% endblock %}

{% block headcss %}
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>{{format("Make a Submission &ndash; %(sitename)s", { sitename: site.settings.title }) }}</h1>
</div>

{% if errors %}
<div class="flash alert alert-error">
    <p>
        {{ gettext("The form has missing or incorrect data")}}:
    </p>
    {% for error in errors %}
    <ul>
        <li>{{ error.param }}: {{ error.msg }} {% if error.value %}(Current is '{{ error.value }}'){% endif %}</li>
    </ul>
    {% endfor %}
</div>
{% endif %}

{% if submitInstructions %}
<div class="alert alert-warning">
  {{ submitInstructions }}
</div>
{% endif %}

<form action="" method="POST" class="form submission-create" autocomplete="on">

  <!--
      Name of the city province - text

      Severe Acute Malnutrition (Under 5 Rate) -> 0-100
      Global Acute Malnutrition (Under 5 Rate) -> 0-100
      Acute Diarrhoeal Disease (Prevalence) - 0-100
      Households without access to toilet - (int >= 0)
      Households without access to water - (int >= 0)
      % of water sources positive with e.coli and other contaminants -> 0-100
      Exposure to natural disasters -> 0-100

      Last update of this indicator -> date
      Your name - text
      Your organisation - text
      Your role	- text
      Your email - email

  -->

  <fieldset>

    <div class="form-group">
      <label for="inputXXX" class="col-sm-8 control-label">{{gettext("Name of the city province")}}</label>
      <div class="col-sm-4">
        <div class="input-group">
          <select name="place" required autocomplete="off">
            <option value="">{{gettext("Please select")}}</option>
            {% for place in places %}
            <option value="{{place.id}}" {% if (formData and place.id == formData.place) or (current and place.id == current.place) %}selected="true"{% endif %}>{{place.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

  <div class="row">
    <label class="col-sm-4 col-sm-offset-8 conntrol-label">Last update of the indicator</label>
  </div>

  <div class="form-group">
    <label for="inputSAM" class="col-sm-5 control-label">Severe Acute Malnutrition (Under 5 Rate)</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input id="SAM" type="number" class="form-control decimal" aria-label="Severe Acute Malnutrition (Under 5 Rate)" min="0", max="100">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="inputSevereAcuteMalnutritionLastUpdate" placeholder="Last update of this indicator">
    </div>
  </div>

  <div class="form-group">
    <label for="inputGAM" class="col-sm-5 control-label">Global Acute Malnutrition (Under 5 Rate)</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input id="inputGAM" type="number" class="form-control decimal" aria-label="Global Acute Malnutrition (Under 5 Rate)" min="0", max="100">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="GAMLastUpdate" placeholder="Last update of this indicator">
    </div>
  </div>

  <div class="form-group">
    <label for="inputADD" class="col-sm-5 control-label">Acute Diarrhoeal Disease (Prevalence)</label>
    <div class="col-sm-3">
      <input id="inputADD" type="number" class="form-control decimal" aria-label="Acute Diarrhoeal Disease (Prevalence)" min="0", max="100">
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="ADDLastUpdate" placeholder="Last update of this indicator">
    </div>
  </div>

  <div class="form-group">
    <label for="inputHWAT" class="col-sm-5 control-label">Households without access to toilet</label>
    <div class="col-sm-3">
      <input id="inputHWAT" type="number" class="form-control decimal" aria-label="Households without access to toilet" min="0">
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="HWATLastUpdate" placeholder="Last update of this indicator">
    </div>
  </div>

  <div class="form-group">
    <label for="inputHWAW" class="col-sm-5 control-label">Households without access to water</label>
    <div class="col-sm-3">
      <input id="inputHWAW" type="number" class="form-control decimal" aria-label="Households without access to water" min="0">
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="HWAWLastUpdate" placeholder="Last update of this indicator">
    </div>
  </div>

  <div class="form-group">
    <label for="inputWSC" class="col-sm-5 control-label">% of water sources positive with e.coli and other contaminants</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input id="inputWSC" type="number" class="form-control decimal" aria-label="% of water sources positive with e.coli and other contaminants" min="0", max="100">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="WSCLastUpdate" placeholder="Last update of this indicator">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEXND" class="col-sm-5 control-label">Exposure to natural disasters</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input id="inputEXND" type="text" class="form-control decimal" aria-label="Exposure to natural disasters">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="inputExposureNaturalDisastersLastUpdate" placeholder="Last update of this indicator">
    </div>
  </div>

  <div class="form-group">
    <label for="inputName" class="col-sm-5 control-label">Your Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputName" placeholder="Your Name">
    </div>
  </div>

  <div class="form-group">
    <label for="inputOrganization" class="col-sm-5 control-label">Your Organization</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputOrganization" placeholder="Your Organization">
    </div>
  </div>

  <div class="form-group">
    <label for="inputRole" class="col-sm-5 control-label">Your role</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputRole" placeholder="Your Role">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail" class="col-sm-5 control-label">Your E-mail</label>
    <div class="col-sm-7">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>

<!--
    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <label>{{gettext("Dataset")}}<br/>
          <select name="dataset" id="dataset-select" required>
            <option value="">{{gettext("Please select")}}</option>
            {% for dataset in datasets %}
            <option value="{{dataset.id}}" {% if (formData and dataset.id == formData.dataset) or (current and dataset.id == current.dataset) %}selected="true"{% endif %}>{{dataset.name}}</option>
            {% endfor %}
          </select>

          {% for dataset in datasets %}
          <div class="dataset-description js-dataset-{{dataset.id}}" style="display: none;">
            <span class="help-block">
              {{dataset.description}}
            </span>
          </div>
          {% endfor %}
        </label>
      </div>
      <div class="col-xs-4">
        <label>{{ format("%(sitename)s Year", { sitename: site.settings.title_short }) }}<br/>
          <strong>{{ year }}</strong>
        </label>
      </div>
    </div>
  </fieldset>

  <div class="row"><p>&nbsp;</p></div>

  <div class="row">
    <div class="col-xs-12 alert alert-warning">
    <h4>{{ currentUser.firstName }}, {{ gettext('would you prefer your submission to remain anonymous?') }}</h4>
    <span class="help-block">{{gettext('By default, submissions to the census are credited to the submitter. If you would prefer to remain anonymous, please indicate so by checking the box.')}}</span>
    <input type="radio" title="{{ gettext ('Anonymous submission')}}" name="anonymous" value="false" checked /> {{ gettext('Identify me as the submitter') }}
    <br />
    <input type="radio" title="{{ gettext ('Anonymous submission')}}" name="anonymous" value="true" /> {{ gettext('Keep my submission anonymous') }}
    </div>
  </div>

  -->

</fieldset>

<div class="row"><p>&nbsp;</p></div>
  <div class="controls" style="margin-top: 30px;">
    <button type="submit" class="btn btn-lg btn-success" data-loading-text="Saving ..." style="float: left; margin-right: 30px;">{{gettext("Submit")}}</button>
    <p class="help-block">{{gettext("By submitting material to the index you agreeing to <a href=\"http://okfn.org/terms-of-use/\">terms of use</a> and also to license your contribution (to the extent there are any rights in it!) under the <a href=\"http://opendatacommons.org/licenses/pddl/1.0/\">Open Data Commons Public Domain Dedication and License</a>.")}}</p>
  </div>

</form>

{% endblock %}

{% block end_js %}
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/src/common.js?{{currentTime}}"></script>
  <script src="/src/wash.js?{{currentTime}}"></script>
{% endblock %}
